body {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family:"Comic Sans MS";
 font-size:90%;
 background-image: url("Loire_a_velo.jpg");
 }

form {
 margin:auto;
 border:3px grey solid;
 border-radius:10px;
 padding:10px;
 width:500px;
 background-color:white

 }
 h1 {
   font-size:2.3em;
   color:#666;
   margin:auto;
 }
fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid #DF3F3F;
 }
legend {
 color:#DF3F3F;
 font-weight:bold
 }
label {
 margin-top:10px;
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select {
 padding:5px;
 border:2px solid gray;
 border-radius:5px;
 width:200px;
 box-sizing:border-box;
 font-family:"Comic Sans MS";
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
 input[type=submit], input[type=reset] {
  width:100px;
  box-shadow:1px 1px 1px
 }

 #submit{ /* Bouton Envoyer */
    display:block;
    width:130px;
    height:40px;
 }
 #reset{ /* Bouton effcacer */
   display:block;
   width:130px;
   height:40px;
 }
